---
import Menu from '../components/Menu.astro';
import '../styles/globals.css';

interface Props {
	title: string;
	redirect?: boolean;
}

const { title, redirect } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		{redirect && <meta http-equiv="refresh" content="0;url=/en/" />}
		<title>{title}</title>
		<script defer src="https://umami.placedutest.com/script.js" data-website-id="bec063a9-2347-4125-abf7-c78ce1115ef5"></script>
	</head>
	<body>
		<h1 class="capitalize text-7xl text-center text-white">Epikowa</h1>
		<Menu />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: var(--paynes-gray);
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	body {
		margin: 0 1em;
	}
</style>
